header {
  background-color: #05339C;
  color: #FFFFFF;
  width:100vw;
  font-size: 30px;
  padding: 10px;    
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
}

body {
    background-color: #f8f9fa;
    font-family:Arial, Helvetica, sans-serif;
    color: black;       
    justify-content: center;
    align-items: center;     
}

h1 {
    font-size: 30px;
    font-weight:bold;
}

h2 {
    font-weight: normal;
    font-size: 20px;
    opacity: 0.5;
}

footer {
    background-color: #05339C;
    color: #FFFFFF;
    width:100vw;
    font-size:20px;
    padding: 20px;
    position: fixed;
    bottom: 0;  
    left: 0;  
}

button{
    background-color: #05339C;
}